<p id="notice"><%= notice %></p>

<h1>Listing User Proficiencies</h1>

<table>
  <thead>
    <tr>
      <th>Endorsements</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_proficiencies.each do |user_proficiency| %>
      <tr>
        <td><%= user_proficiency.endorsements %></td>
        <td><%= link_to 'Show', user_proficiency %></td>
        <td><%= link_to 'Edit', edit_user_proficiency_path(user_proficiency) %></td>
        <td><%= link_to 'Destroy', user_proficiency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User proficiency', new_user_proficiency_path %>
