<%= form_for(@team, :html => {:class => 'ui sign up form'}) do |f| %>
  <% if @team.errors.any? %>
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        Could not create team!
      </div>

      <ul class="list">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui stacked segment">

    <div class="field" id="gamebar">
      <label>Game</label>
      <div class="ui search selection dropdown">
        <%= f.hidden_field :game_id %>
        <i class="dropdown icon"></i>
        <input type="text" class="search" tabindex="0">
        <div class="default text">Select one...</div>
      </div>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= label_tag(:role, "Role") %>
      <%= text_field_tag(:role) %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :picture_url %>
      <%= f.text_field :picture_url %>
    </div>
    <div class="actions right-align">
      <%= f.submit(:class => 'ui blue submit button', :value => 'Create Team') %>
    </div>
  </div>
<% end %>
