<div class="teams-page">
  <div class="ui container teams-header">
    <h1 class="ui centered huge header">Teams</h1>
    
    <p id="notice"><%= notice %></p>

    <% @games.each do |game| %>
      <% if @teams.where(:game_id => game.id).count > 0 %>
        <h2 class="ui large header"><%= game.name %></h2>
        <table class="ui very basic table">
          <tbody>
            <% @teams.where(:game_id => game.id).each do |team| %>
                <tr>
                  <td class="collapsing"><%= image_tag team.picture_url, class: 'ui tiny left floated  image' %></td>
                  <td><%= link_to team.name, team , {:class => "team_link"} %></td>
                  <td><%= team.description %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
