<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Community rating:</strong>
  <%= @team.community_rating %>
</p>

<p>
  <strong>Location:</strong>
  <%= @team.location %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @team.picture_url %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
