<%= form_for(:session, url: login_path, :html => {:class => 'ui form'}) do |f| %>

  <p id="notice"><%= notice %></p>

  <div class="ui stacked segment">
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="ui checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>

    <div class="actions right-align">
      <%= f.submit :class => 'ui blue submit button', :value => 'Login' %>
    </div>

	</div>
<% end %>
