<% provide(:title, "Login") %>
<h1>Login</h1>
<div>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>


  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username, class: 'form-control' %>

    <%= f.label :password %><br>
    <%= f.text_field :password, class: 'form-control' %>

    <%= f.submit "Login" %>
  <% end %>  
</div>
