<% @user.games.each do |game| %>
<div class="ui section divider"></div>
<div class="ui container">
  <h2 class="ui header"><%= game.name %></h2>
  <div class="ui container">
    <div class="ui two column grid">
      <div class="three wide column middle aligned centered">
        <%= image_tag game.picture_url, class: 'ui small left floated image' %>
      </div>
      <div class="thirteen wide column">
        <strong>Teams:</strong>
          <div class="ui list">
          <% get_teams_for_game(game.id).each do |team| %>
            <div class="item"><%= link_to team.name, '/teams/' + team.name.downcase.tr(' ', '-')  %></div>
          <% end %>
        </div>
        <strong>Game Description:</strong>
        <p><%= game.description %></p>
      </div>
    </div>
  </div>

  <h3 class="ui header">Proficiencies</h3>
  <table class="ui fixed striped table attached">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Endorsements</th>
      </tr>
    </thead>
    <tbody>
      <% proficiencies_for_game(game).each do |proficiency| %>
          <tr>
            <td><%= proficiency.name %></td>
            <td><%= proficiency.description %></td>
            <td>
            <% endorsements_for_proficiency(proficiency.id).each do |endorser| %>
              <%= image_tag endorser.picture_url, class: 'ui mini left floated image' %>
	    <% end %>
            <% if !endorsed?(proficiency.id) %>
            <%= button_to 'Endorse', endorse_path(@user.username, proficiency.id), method: :post, class: 'ui positive button' %>
            <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <% if is_current_user? %>
    <div class="ui bottom attached blue button add_proficiency_to_user" data="<%= game.id %>">Add Proficiency</div>
  <% end %>
</div>
<% end %>
