<% @user.games.each do |game| %>
<div class="ui section divider"></div>
<div class="ui container">
  <h2 class="ui header"><%= game.name %></h2>
  <div class="ui container">
    <div class="ui two column grid">
      <div class="three wide column middle aligned centered">
        <%= image_tag game.picture_url, class: 'ui small left floated image' %>
      </div>
      <div class="thirteen wide column">
        <p><strong>Team:</strong>  LSM_gaming</p>
        <strong>Game Description:</strong>
        <p><%= game.description %></p>
      </div>
    </div>
  </div>

  <h3 class="ui header">Proficiencies</h3>
  <table class="ui fixed striped table attached">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Endorsements</th>
      </tr>
    </thead>
    <tbody>
      <% proficiencies_for_game(game).each do |proficiency| %>
          <tr>
            <td><%= proficiency.name %></td>
            <td><%= proficiency.description %></td>
            <td><%= endorsements_for_proficiency(proficiency) %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <% if is_current_user? %>
    <div class="ui bottom attached blue button add_proficiency_to_user">Add Proficiency</div>
  <% end %>
</div>
<% end %>
