<p id="notice"><%= notice %></p>

<div class="profile-page">
  <div class="ui container profile-header">
    <h1 class="ui centered huge header">Users</h1>
    
    <p id="notice"><%= notice %></p>

    <table class="ui very basic table">
      <tbody>
        <% @users.each do |user| %>
            <tr>
              <td class="collapsing"><%= image_tag user.picture_url, class: 'ui tiny left floated  image' %></td>
              <td><%= link_to user.username, user , {:class => "username_link"} %></td>
              <td><%= user.description %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
