<div class="profile-page">
  <div class="ui container">
    <div class="ui container profile-header">
      <%= @user.picture_url %>
      <img class="ui centered bordered large circular image" src="https://pbs.twimg.com/profile_images/557531113237663745/Hj-4gyG6.jpeg">

      <h1 class="ui centered huge header"><%= @user.username %></h1>

      <h3 class="ui header">Biography</h3>
    </div>

    <div class="ui three statistics">
      <div class="statistic">
        <div class="value">2</div>
        <div class="label">Games</div>
      </div>
      <div class="statistic">
        <div class="value">12</div>
        <div class="label">Proficiencies</div>
      </div>
      <div class="statistic">
        <div class="value">10</div>
        <div class="label">Rating</div>
      </div>
    </div>

    <%= render 'game_proficiency', :user => @user %>

    <p id="notice"><%= notice %></p>

    <div class="ui section divider"></div>

    <% if is_current_user? %>
      <h3 class="ui centered header" id="add_game_to_user">
        Add Game to User Profile
      </h3>
      <div class="ui section divider"></div>
    <% end %>
  </div>
</div>

<% if is_current_user? %>
  <div class="ui small add game modal">
      <div class="header">
        Add Game to Profile
      </div>
      <div class="content">
        <form class="ui add game form" id="addGameForm">
          <div class="field">
            <label>Select Game</label>
            <%= collection_select(:post, :game_id, Game.all, :id, :name, {}, {:class => 'ui form dropdown'}) %>

          </div>

          <div class="ui error message"></div>

        </form>
      </div>
      <div class="actions">
        <div class="ui negative button">
          Cancel
        </div>
        <input type="submit" value="submit" form="addGameForm" class="ui positive button">
      </div>
  </div>


  <div class="ui small add proficiency modal">
      <div class="header">
        Add Proficiency to 'game name here'
      </div>
      <div class="content">
        <form class="ui add proficiency form" id="addProficiencyForm">
          <div class="field">
            <label>Select Proficiency</label>
            <select name="proficiency" class="ui fluid dropdown">
              <option value>Profiency</option>
              <option value="desert_eagle">Desert Eagle</option>
              <option value="m16">M16</option>
            </select>

          </div>

          <div class="ui error message"></div>

        </form>
      </div>
      <div class="actions">
        <div class="ui negative button">
          Cancel
        </div>
        <input type="submit" value="submit" form="addProficiencyForm" class="ui positive button">
      </div>
  </div>
<% end %>
