<div class="following bar">
  <div class="ui container">
    <div class="ui secondary menu">
      <div class="item">
        <div class="ui tiny image">
          <%= link_to image_tag('logo.svg', alt: 'TeamUp'), root_url %>
        </div>
      </div>
      <div class="right menu">
        <% if logged_in? %>
          <% if account_confirmed? %>
          <div class="ui category search item">
            <div class="ui transparent black icon input">
              <input class="prompt" type="text" placeholder="Search...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
            <a class="ui icon item" title="Advanced search">
              <i class="sitemap grey icon" title="Advanced search"></i>
            </a>
          </div>

          <div class="ui text menu">
            <div class="item">
              <%= link_to "Users", users_path %>
            </div>
            <div class="item">
              <%= link_to "Teams", teams_path %>
            </div>
          </div>

          <div class="ui dropdown item">
            <%= current_user.username %>
            <i class="dropdown icon"></i>
            <div class="menu">
              <%= link_to "Profile", current_user, class: 'item' %>
              <%= link_to "New Team", new_team_path, class: 'item' %>
              <%= link_to "Settings", edit_user_path(current_user), class: 'item' %>
              <% if is_admin? %>
                <%= link_to 'Admin Panel', admin_path, class: 'item' %>
              <% end %>

              <%= link_to "Log out", logout_path, method: "delete", class: 'item' %>
            </div>
          </div>
          <% else  %>
          <div class="ui dropdown item">
            <%= current_user.username %>
            <i class="dropdown icon"></i>
            <div class="menu">
              <%= link_to "Log out", logout_path, method: "delete", class: 'item' %>
            </div>
          </div>
          <% end %>

        <% else %>
          <div class="item">
              <%= link_to "Log in", login_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
