<tr>
  <td class="collapsing"><%= image_tag proficiency.picture_url, class: 'ui tiny left floated image' %></td>
  <td><%= link_to proficiency.name, '/games/' + proficiency.game.name.downcase.tr(' ', '-') + '/proficiencies/' + proficiency.name.downcase %></td>
  <td><%= proficiency.description %></td>
  <td>
    <% endorsements_for_proficiency(proficiency.id).each do |endorser| %>
      <%= link_to(image_tag(endorser.picture_url, class: 'ui avatar image', data: {title: endorser.username}), user_path(endorser)) %>
    <% end %>
    <% if !endorsed?(proficiency.id) %>
      <%= button_to 'Endorse', endorse_path(@user.username, proficiency.id), method: :post, class: 'ui positive button' %>
    <% end %>
  </td>
</tr>
