<div class="ui stacked segment padding-top">
    <h1><%= @proficiency.game.name %> - <%= @proficiency.name %></h1> 

  <div class="field">
    <%= @proficiency.description %>
  </div>

  <img src="<%= @proficiency.picture_url %>" width="100px" height="100px"/>
  </div>

  <% if @proficiency_posts != nil %>
    <div class="ui list">
      <% @proficiency_posts.each do |proficiency_post| %>
        <div class="item">
          <div class="header"><%= proficiency_post.username %> - <%= proficiency_post.title %></div>
          <div class="meta"><%= proficiency_post.date.to_formatted_s(:long) %></div>
          <div class="description"><%= proficiency_post.content %></div>
        </div>
      <% end %>
    </tbody>
  <% end %>

  <% if @permission > 1 %>
    <br/>
    <%= link_to 'Create New Proficiency Post', new_proficiency_post_path(:proficiency =>  @proficiency)%>
  <% end %>

  <br/>
  <%= link_to 'All Proficiencies', proficiencies_path %>
</div>
