<p id="notice"><%= notice %></p>

<h1>Listing Proficiency Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Username</th>
      <th>Date</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proficiency_posts.each do |proficiency_post| %>
      <tr>
        <td><%= proficiency_post.title %></td>
        <td><%= proficiency_post.username %></td>
        <td><%= proficiency_post.date %></td>
        <td><%= proficiency_post.content %></td>
        <td><%= link_to 'Show', proficiency_post %></td>
        <td><%= link_to 'Edit', edit_proficiency_post_path(proficiency_post) %></td>
        <td><%= link_to 'Destroy', proficiency_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proficiency post', new_proficiency_post_path %>
