<!DOCTYPE html>
<html>
<head>
  <title>Team Up</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="teamUp" class="index popup">
<%= render "pages/header" %>
<%= yield %>

</body>
</html>
