<!DOCTYPE html>
<html>
<head>
  <title>Team Up</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.js' %>
</head>

<body id="teamUp" class="index popup">
<%= render "pages/header" %>
<div class="flash-header">
  <% flash.each do |message_type, message| %>
    <div class="<%= flash_style(message_type) %>">
      <i class="close icon"></i>
      <%= message %>
    </div>
  <% end %>
</div>
<%= yield %>

</body>
</html>
